

.row{
  width: 500px;
}

.col-md-12{
  padding: 1%;
  border-radius: 15%;
}

.card{
  font-size: 23px;
  box-shadow: 3px 5px 10px 1px rgb(0, 0, 0);
}

.link-gis{
  text-decoration: none;
  color: rgb(255, 255, 255);
}